<div class="container mt-5 text-center">
  <h1 class="title">Currency App</h1>
</div>
<div class="container mt-5 d-flex justify-content-center">
  <mat-card class="example-card">
    <div class="container d-flex flex-row align-items-center">
      <mat-card-content>
        <form class="d-flex flex-column align-items-center" [formGroup]="currencyForm">
          <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount">
            <mat-error>
              <p *ngIf="control['amount'].errors && control['amount'].errors['required']">Amount is required</p>
              <p *ngIf="control['amount'].errors && control['amount'].errors['pattern']">Amount must be a number</p>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>From</mat-label>
            <mat-select  formControlName="from">
              <mat-option *ngFor="let currency of currencyList" value={{currency.symbol}}>{{currency.symbol}} / {{currency.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>To</mat-label>
            <mat-select formControlName="to">
              <mat-option *ngFor="let currency of currencyList" value={{currency.symbol}}>{{currency.symbol}} / {{currency.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button type="submit" (click)="convert()" mat-raised-button color="success">Convert</button>
        </form>
      </mat-card-content>
    </div>
    <mat-card-content *ngIf="currencyData.success" class="text-center">
      <h2 class="fw-bold mt-1">{{tmpAmount}} {{tmpFrom}}</h2>
      <h2 class="fw-bold">=</h2>
      <h2 class="fw-bold">{{tmpConvertedAmount | number : '1.1-2'}} {{tmpTo}}</h2>
    </mat-card-content>
  </mat-card>
</div>
